body {
    height: 100vh;
    margin: 0;
}

.ruteo {
    height: 100vh;
}

/*Estilos Login*/

.loginContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topSection {
    display: flex;
    background-color: #1b444c;
    height: 40vh;
    align-items: center;
}

.logoRed {
    width: 60%;
    margin-left: 20%;
}

.bottomSection {
    background-color: #E0E0E0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorLogin {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 15px;
    width: 80%;
    height: 50%;
    border: 2px solid #afb4b5;
    border-radius: 20px;
    justify-content: center;
    padding: 70px 20px;
}

.loginButton1 {
    background-color: #211715;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.inputUsermail {
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: medium;
}

.inputPassword {
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: medium;
}

.forgetLk {
    color: orange;
    align-self: center;
}

.registerLk {
    align-self: center;
}

.linkReg {
    color: #a97b51;
}

.forgetBtn {
    border: 5px;
}

/*Estilos register*/

.registerDiv {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topRegister {
    display: flex;
    background-color: #1b444c;
    height: 40vh;
    align-items: center;
}

.logoPets {
    width: 60%;
    margin-left: 20%;
}

.bottomRegister {
    display: flex;
    background-color: #E0E0E0;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.containerRegister {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    width: 80%;
    height: 60%;
    border: 2px solid #afb4b5;
    border-radius: 20px;
    justify-content: center;
    padding: 50px 20px;
}

.registerButton2 {
    background-color: #211715;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#input-email {
    border-radius: 10px;
    padding: 15px 10px;
    font-size: medium;
    border: 1px solid black;
}

#input-password {
    border-radius: 10px;
    padding: 15px 10px;
    font-size: medium;
    border: 1px solid black;
}

#input-nombreApellido {
    border-radius: 10px;
    padding: 15px 10px;
    font-size: medium;
    border: 1px solid black;
}

.registerConCuenta {
    color: black;
    align-self: center;
}

.linkConCuenta {
    color: #a97b51;
    font-size: medium;
}

/*Estilos Home*/

.HomeDiv{
    background-color: #1b444c;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pruebaHome{
    background-color: #211715;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    font-size: medium;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
