body {
    background-color: #1b444c;
}

.ruteo {
    background-color: yellow;
}

/*Estilos Login*/

.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.loginButton1 {
    background-color:#211715;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    font-size: medium;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.forgetBtn{
    border: 5px;
}